.Input {
  margin: 0 auto;
  border: 0.2rem solid rgb(42, 42, 42);
  border-radius: 1rem;
  width: 60%;
  height: 2.3rem;
  background-color: #eee;
  display: block;
}

.Input:not(:last-child) {
  margin-bottom: 2rem;
}
