.Button {
  background-color: rgb(9, 110, 40);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s;
}

.Button:hover {
  background-color: rgb(25, 121, 53);
  transform: scaleX(1.1);
}
